.section, h1{
    color:rgba(13, 77, 51, 0.795);
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    left: 70px;
    top: 170px;
    
}

/* Nav bar */
.navbar {
    width: 100%;
    background-color: transparent;
    position: fixed;
}



.parent {
  position: relative;
  top: 550px;
  left: 0;
}
.image1 {
  position: relative;
  top: 500px;
  right: 150px;
  border: 3px rgb(14, 13, 13) solid;
  height: 500px;
  width: 500px;
}
.image2 {
  position: absolute;
  top: 30px;
  right: 330px;
  border: 3px rgb(239, 239, 237) solid;
  height: 500px;
  width: 500px;
}
.image3 {
  position: absolute;
  top: 450px;
  right: 600px;
  border: 3px rgb(213, 226, 213) solid;
  height: 500px;
  width:370px;
}


h2{
 color: rgb(20, 19, 19);
 width: 63%;
 margin-top: 400px;
 margin-bottom: 840px;
 font-weight: 300;
 font-size: 25px;
 line-height:30px;
 letter-spacing: .5px;
 font-family: sans-serif;
 margin-left: 150px;

}


/* Contact page */

section .container{
  height: 10px;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea{
  width: 100%;
  padding: 5px;
  font-size: 18px;
  margin-top: 10px;
}




/* About page  */
 

/* photos */
.parent_about {
  position: relative;
  top: 550px;
  left: 0;
}
.aboutImg1 {
  position: relative;
  top: 400px;
  left: 30px;
  border: 3px rgb(30, 92, 44) solid;
  height: 20%;
  width: 25%;
}
.aboutImg2 {
  position: relative;
  top: 0px;
  right: 130px;
  border: 3px rgb(4, 42, 32) solid;
  height: 500px;
  width: 410px;
}
.aboutImg3 {
  position: relative;
  top: 450px;
  right: 600px;
  border: 3px rgb(87, 87, 12) solid;
  height: 600px;
  width:390px;
}
.aboutImg4 {
  position: absolute;
  top: 450px;
  right: 600px;
  border: 3px rgb(213, 226, 213) solid;
  height: 500px;
  width:370px;
}

.aboutImg5 {
  position: relative;
  top: 450px;
  right: 600px;
  border: 3px rgb(213, 226, 213) solid;
  height: 500px;
  width:370px;
}

/* about me text */
p{ 
  color: rgb(20, 19, 19);
 width: 63%;
 margin-top: 90px;
 font-weight: 300;
 font-size: 20px;
 line-height:30px;
 letter-spacing: .5px;
 font-family: sans-serif;
 margin-left: 150px;

}

h3{
  font-weight: 700;
 font-size: 70px;
 

 margin-top: 150px;
margin-left: 80px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 767px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and ((max-width: 1199px)) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}